# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment files
.env
.venv/
venv/

# Data and model weights
**.pkl
**.pt
**.h5

# OS files
.DS_Store
Thumbs.db

**out.txt
**passwords.py
**/venv/


# Large data files / results 
**valid_pitch_map.json

# Intermediate Results
**validation
**loss
**checkpoints
**future_analysis*
**full_season*

**scripts*
**warm_start*
**embedding_analysis*
**analysis*
**tuning*
**plots*

**tar.zst